*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, sans-serif, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4,
h5,
h6,
a,
p,
li {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #808080;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font-family: Helvetica, sans-serif, sans-serif;
  font-size: 1.6rem;
}

.header__heading-main {
  font-size: 2.4rem;
  text-align: center;
}

.logo {
  display: block;
  width: 160px;
  border: 8px solid #0cb9ee;
  border-radius: 80px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__item {
  margin: 1rem 0;
}
.nav__link {
  color: #333;
  text-decoration: none;
}

@media (min-width: 768px) {
  .nav__list {
    flex-direction: row;
  }
  .nav__item {
    margin: 0 2rem;
  }
  .nav__link:hover {
    color: #0cb9ee;
    transition: color 0.2s ease, transform 0.2s ease;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  padding: 4rem 2rem;
  background: #f3f3f3 url("../img/page/top_bg_1920.jpg") no-repeat center;
  background-size: cover;
}
.header__heading-main {
  margin-bottom: 3rem;
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.header__container .logo {
  padding: 0;
  margin: 3rem 8rem;
}
.header__container p {
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(243, 243, 243, 0.8);
}
.header__container p a {
  color: #333;
}

.section {
  padding: 6rem 0;
}
.section .heading-second {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 2.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.section .heading-second::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section--about {
  position: relative;
  background: linear-gradient(45deg, #0cb9ee, #0AE5F0);
}
.section--about .heading-second {
  z-index: 1000;
}
.section--about .heading-second::after {
  z-index: 1000;
  background-color: #0cb9ee;
}
.section--about .container .section--about__bg2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 990;
  background-image: url("../img/page/balloons_bg_640.png");
}
.section--about .container .section--about__container {
  display: flex;
  flex-direction: column;
}
.section--about .container .section--about__container .section--about__text-box {
  z-index: 1000;
}
.section--about .container .section--about__container .section--about__text-box .text {
  display: block;
  margin-bottom: 2rem;
  text-align: center;
}
.section--about .container .section--about__container .section--about__text-box :last-child {
  margin-bottom: 0;
}
.section--offer .container .heading-second {
  padding-bottom: 1.8rem;
  margin-bottom: 2.6rem;
}
.section--offer .container .heading-second::after {
  background-color: #0cb9ee;
}
.section--offer .container .wrapper .offer__item {
  width: 100%;
  padding: 100px 20px;
  background-color: #8c8c8c;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 4rem;
  text-align: center;
}
.section--offer .container .wrapper .offer__item--1 {
  background-image: url("../img/page/offer/scianka.jpg");
}
.section--offer .container .wrapper .offer__item--2 {
  background-image: url("../img/page/offer/brama.jpg");
}
.section--offer .container .wrapper .offer__item--3 {
  background-image: url("../img/page/offer/girlanda.jpeg");
}
.section--offer .container .wrapper .offer__item--4 {
  background-image: url("../img/page/offer/slupki.jpeg");
}
.section--offer .container .wrapper .offer__item--5 {
  background-image: url("../img/page/offer/sala.jpeg");
}
.section--offer .container .wrapper .offer__item--6 {
  background-image: url("../img/page/offer/baby.jpg");
}
.section--offer .container .wrapper .offer__item .heading-third {
  display: block;
  max-width: 140px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  line-height: 1.25;
  border-radius: 5px;
}

.footer {
  background-color: #0cb9ee;
  text-align: center;
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
    justify-content: center;
  }
  .section--about .container .heading-second {
    text-align: left;
  }
  .section--about .container .section--about__container {
    flex-direction: row;
  }
  .section--about .container .section--about__container .section--about__text-box .text {
    text-align: left;
  }
}/*# sourceMappingURL=main.css.map */