*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4,
h5,
h6,
a,
p,
li {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #eee;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

.top-bar {
  width: 100%;
  background-color: #0ca9ee;
}
.top-bar .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.top-bar .container span {
  display: block;
}
.top-bar .container .btn {
  background-color: #b20472;
  color: #eee;
}
.top-bar_contact-item {
  margin-bottom: 20px;
  background-color: #b20472;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn {
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
}

.msg-status {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 190px;
  left: 0;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.success {
  display: flex;
  background-color: #39b939;
  color: #eee;
}

.error {
  display: flex;
  background-color: #ee7b2e;
  color: #eee;
}

.contact__form .btn {
  cursor: pointer;
  padding: 20px;
}

.contact__form * {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.contact__form textarea {
  height: 10rem;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  margin-bottom: 80px;
  background-image: url("./../img/page/top_bg_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #222;
}
.header img {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.header h1 {
  text-align: center;
  font-size: 2.2rem;
  padding: 0 20px;
  margin-bottom: 20px;
}
.header_intro {
  background-color: rgba(240, 240, 240, 0.5);
}
.header_intro p {
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}
.header_intro p:last-of-type {
  margin-bottom: 0;
}

.content .container .content_item {
  padding: 100px 20px;
  background-color: rgb(140, 140, 140);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
}
.content .container .content_item h3 {
  display: block;
  max-width: 140px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  line-height: 1.25;
}
.content .container .content_item-1 {
  background-image: url("../../img/gallery/scianka2.jpeg");
}
.content .container .content_item-2 {
  background-image: url("../../img/gallery/brama.jpg");
}
.content .container .content_item-3 {
  background-image: url("../../img/gallery/girlanda.jpeg");
}
.content .container .content_item-4 {
  background-image: url("../../img/gallery/slupki.jpeg");
}
.content .container .content_item-5 {
  background-image: url("../../img/gallery/sala.jpeg");
}
.content .container .content_item-6 {
  background-image: url("../../img/gallery/baby.jpg");
}

.footer {
  padding-top: 40px;
  background-color: #222;
}
.footer_top .container .footer_top__box {
  margin-bottom: 40px;
  padding: 20px;
  background-color: rgb(140, 140, 140);
}
.footer_top .container .footer_top__box h4 {
  margin-bottom: 20px;
}
.footer_top .container .footer_top__box a {
  display: block;
  margin-bottom: 10px;
}
.footer_top .container .footer_top__box:last-child {
  background-color: transparent;
  padding: 0;
}
.footer_top .container .footer_top__box:last-child h4 {
  color: #eee;
}
.footer_bottom {
  background-color: rgb(140, 140, 140);
}
.footer_bottom .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 759px) {
  .content .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content .container .content_item {
    width: 48%;
  }
  .footer_top .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer_top .container .footer_top__box {
    width: 48%;
  }
}
@media (min-width: 992px) {
  .top-content .container {
    max-width: 900px;
  }
  .content .container .content_item {
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */