////------------------------------- Components styles-------------------------------//////
@use './core' as *;

//Heading styles
.header__heading-main {
	font-size: 2.4rem;
	text-align: center;
}

//Logo styles
.logo {
	display: block;
	width: 160px;
    border: 8px solid $theme-color;
    border-radius: 80px;
}

//Nav styles
.nav {
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__item {
		margin: 1rem 0;
	}

	&__link {
		color: $dark-color;
		text-decoration: none;
	}
}

//-----------------------------------------------------------------------------//
///////////////////////////////// media quiries /////////////////////////////////
//-----------------------------------------------------------------------------//

@media (min-width: 768px) {
	//Nav styles
	.nav {
		&__list {
			flex-direction: row;
		}

		&__item {
			margin: 0 2rem;
		}

		&__link {
			&:hover {
				color: $theme-color;
				transition: color .2s ease, transform .2s ease;
			}
		}
	}
}


