////------------------------------- Components styles-------------------------------//////
@use './core' as *;

//Header styles
.header {
    padding: $margin-page-small;
    background-color: $light-color;
    h1 {
        text-align: center;
        margin-bottom: $size-3;
    }
}

//Logo styles
.logo {
    width: 160px;
    display: block;
    margin: 0 auto;
}