// ---------------------------------Variables-------------------------------------//
//________________________________________________________________________________//

// Colors
$light-color: #eee;
$dark-color: #222;
$primary-color: #0ca9ee;
$secondary-color: #b20472;
$dark-gray: #3f3f3f;
$shadow-main: 0px 1px 2px $dark-gray;
$overlay-color: rgba(0, 0, 0, 0.5);

$primary-gradient: linear-gradient(45deg, $primary-color, $secondary-color);

// Size main

$size-1: 5px;
$size-2: 10px;
$size-3: 20px;
$size-4: 30px;
$size-5: 40px;
$size-6: 60px;
$size-7: 80px;

// Margin page

$margin-page-small: $size-3;
$margin-page-medium: $size-5;
$margin-page-large: $size-7;

// Other
$default-rounding: 5px;

// Base styles

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
}

h1 {
	font-size: 2.8rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.8rem;
}

h4,
h5,
h6,
a,
p,
li {
	font-size: 1.6rem;
	letter-spacing: 1px;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: $light-color;
	cursor: pointer;
}

li {
	list-style: none;
}

button {
	background: none;
	border: 0;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
}

// Mixins styles
@mixin default-animation {
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}
