// Layout styles //
@use './core' as *;

// General styles
.container {
	margin: 0 auto;
	padding: 0 $margin-page-small;
	width: 100%;
	max-width: 1200px;
}

//Header styles
.top-bar {
	width: 100%;
	background-color: $primary-color;
	.container {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		align-items: center;
		// margin: 0 auto;
		padding-top: $size-4;
		padding-bottom: $size-4;
		span {
			// font-size: 3rem;
			// margin-right: $size-2;
			// color: $light-color;
			display: none;
		}
		.btn {
			// margin-top: $size-2;
			background-color: $secondary-color;
			color: $light-color;
		}
	}
	&_contact-item {
		// text-align: center;
		margin-bottom: $size-3;
		background-color: $secondary-color;
		padding: $size-2 $size-3;
		border-radius: $default-rounding;
		// margin-right: $size-2;
		// padding-top: $size-3;
		// padding-bottom: $size-7;
		// padding-left: $size-6;
		// background-size:10%;
		// background-position-y: center;
		// background-repeat: no-repeat;
		// font-size: 2rem;
		&--call {
			// background-image: url('../../img/icon/phone.svg');
			// background-image: none;
		}
		&--mail {
			// background-image: url('../../img/icon/at.svg');
			// background-image: none;
			// display: none;
		}
	}
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $size-5 0;
	margin-bottom: $size-7;
	background-image: url('./../img/page/top_bg_1920.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: $dark-color;
	img {
		display: block;
		width: 280px;
		margin: 0 auto;
		margin-bottom: $size-5;
	}
	h1 {
		text-align: center;
		font-size: 2.2rem;
		padding: 0 $margin-page-small;
		margin-bottom: $size-3;
	}
	&_intro {
		background-color: rgb(240, 240, 240, 0.5);
		p {
			padding: $margin-page-small;
			margin-bottom: $size-3;
			font-size: 1.8rem;
			font-weight: 700;
			text-align: center;
		}
		p:last-of-type {
			margin-bottom: 0;
		}
	}
}

//Content styles
.content {
	.container {
		.content_item {
			padding: 100px $size-3;
			background-color: rgb(140, 140, 140);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			h3 {
				display: block;
				max-width: 140px;
				margin: 0 auto;
				padding: $size-2;
				background-color: rgba(255, 255, 255, 0.75);
				text-align: center;
				line-height: 1.25;
			}
			margin-bottom: $size-5;
		}
		.content_item-1 {
			background-image: url('../../img/gallery/scianka2.jpeg');
		}
		.content_item-2 {
			background-image: url('../../img/gallery/brama.jpg');
		}
		.content_item-3 {
			background-image: url('../../img/gallery/girlanda.jpeg');
		}
		.content_item-4 {
			background-image: url('../../img/gallery/slupki.jpeg');
		}
		.content_item-5 {
			background-image: url('../../img/gallery/sala.jpeg');
		}
		.content_item-6 {
			background-image: url('../../img/gallery/baby.jpg');
		}
	}
}

.footer {
	padding-top: $size-5;
	background-color: $dark-color;
	&_top {
		.container {
			.footer_top__box {
				margin-bottom: $size-5;
				padding: $size-3;
				background-color: rgb(140, 140, 140);
				h4 {
					margin-bottom: $size-3;
				}
				a {
					display: block;
					margin-bottom: $size-2;
				}
				&:last-child {
					background-color: transparent;
					padding: 0;
					h4 {
						color: $light-color;
					}
				}
			}
		}
	}

	&_bottom {
		background-color: rgb(140, 140, 140);
		.container {
			padding-top: $size-3;
			padding-bottom: $size-3;
		}
	}
}

// -------------------------------------------------------------------------
// Responsive     ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// -------------------------------------------------------------------------

@media (min-width: 759px) {
	.content {
		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.content_item {
				width: 48%;
			}
		}
	}
	.footer_top {
		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.footer_top__box {
				width: 48%;
			}
		}
	}
}

@media (min-width: 992px) {
	.top-content {
		.container {
			max-width: 900px;
		}
	}
	.content {
		.container {
			.content_item {
				width: 30%;
			}
		}
	}
}
