//-----------------------------------------------------------------------------//
///////////////////////////////// Layout styles /////////////////////////////////
//-----------------------------------------------------------------------------//
@use './core' as *;

// General styles
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}

// Content styles
.header {
	padding: 4rem 2rem;
	background: $light-color url('../img/page/top_bg_1920.jpg') no-repeat center;
	background-size: cover;
	&__heading-main {
		margin-bottom: 3rem;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;
		.logo {
			padding: 0;
			margin: 3rem 8rem;
		}
		p {
			padding: 1rem;
			border-radius: $default-rounding;
			background-color: rgb(243, 243, 243, 0.8);
			a {
				color: $dark-color;
			}
		}
	}
}

.section {
	padding: 6rem 0;
	.heading-second {
		text-align: center;
		margin-bottom: 2rem;
		position: relative;
		padding-bottom: 2.2rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.heading-second::after {
		content: '';
		display: block;
		width: 80px;
		height: 2px;
		position: absolute;
		margin: 0 auto;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&--about {
		position: relative;
		.heading-second {
			z-index: 1000;
		}
		.heading-second::after {
			z-index: 1000;
			background-color: $theme-color;
		}
		@include gradient(45deg, $theme-color, $secondary-color);
		.container {
			.section--about__bg2 {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				z-index: 990;
				background-image: url('../img/page/balloons_bg_640.png');
			}
			.section--about__container {
				display: flex;
				flex-direction: column;
				.section--about__text-box {
					z-index: 1000;
					.text {
						display: block;
						margin-bottom: 2rem;
						text-align: center;
					}
					:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	&--offer {
		.container {
			.heading-second {
				padding-bottom: 1.8rem;
				margin-bottom: 2.6rem;
			}
			.heading-second::after {
				background-color: $theme-color;
			}
			.wrapper {
				.offer__item {
					width: 100%;
					padding: 100px 20px;
					background-color: #8c8c8c;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					margin-bottom: 4rem;
					text-align: center;
					&--1 {
						background-image: url('../img/page/offer/scianka.jpg');
					}
					&--2 {
						background-image: url('../img/page/offer/brama.jpg');
					}
					&--3 {
						background-image: url('../img/page/offer/girlanda.jpeg');
					}
					&--4 {
						background-image: url('../img/page/offer/slupki.jpeg');
					}
					&--5 {
						background-image: url('../img/page/offer/sala.jpeg');
					}
					&--6 {
						background-image: url('../img/page/offer/baby.jpg');
					}
					.heading-third {
						display: block;
						max-width: 140px;
						margin: 0 auto;
						padding: 10px;
						background-color: rgba(255, 255, 255, 0.75);
						text-align: center;
						line-height: 1.25;
						border-radius: $default-rounding;
					}
				}
			}
		}
	}
}

.footer {
	background-color: $theme-color;
	text-align: center;
	padding: $size-2 0;
}

//-----------------------------------------------------------------------------//
///////////////////////////////// media quiries /////////////////////////////////
//-----------------------------------------------------------------------------//
@media (min-width: 768px) {
	.header {
		&__container {
			flex-direction: row;
			justify-content: center;
		}
	}
	.section {
		&--about {
			// background-image: url('./../../img/page/balloons_bg_640.png');
			.container {
				.heading-second {
					text-align: left;
				}
				.section--about__container {
					flex-direction: row;
					.section--about__text-box {
						.text {
							text-align: left;
						}
					}
				}
			}
		}
	}
}
