// Layout styles //
@use './core' as *;

// General styles
.container {
	margin: 0 auto;
	padding: 0 $margin-page-small;
	width: 100%;
	max-width: 1200px;
}

//Header styles
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $margin-page-small;
	text-align: center;
	margin-bottom: $size-5;
	// border-bottom: 4px solid $primary-color;
	color: $dark-color;
	img {
		display: block;
		width: 280px;
		// border-radius: 80px;
		// border: 8px solid $primary-color;
	}
}

.top-content {
	padding-top: $size-7;
	padding-bottom: $size-7;
	background-image: url('./../img/page/top_bg_1920.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: $dark-color;
	.container {
		padding-top: $size-7;
		padding-bottom: $size-7;
		background-color: rgb(240, 240, 240, 0.5);
		p {
			margin: 0 auto;
			text-align: center;
			font-size: 2rem;
			font-weight: 700;
		}
	}
	h2 {
		margin-bottom: $size-3;
		text-align: center;
	}
	margin-bottom: $size-7;
}

.content {
	.container {
		.content_item {
			padding: $size-7 $size-3;
			background-color: rgb(140, 140, 140);
			h3 {
				margin-bottom: $size-2;
			}
			margin-bottom: $size-5;
		}
	}
}

.footer {
	padding-top: $size-5;
	background-color: $dark-color;
	&_top {
		.container {
			.footer_top__box {
				margin-bottom: $size-5;
				padding: $size-3;
				background-color: rgb(140, 140, 140);
				h4 {
					margin-bottom: $size-3;
				}
				a {
					display: block;
					margin-bottom: $size-2;
				}
			}
		}
	}

	&_bottom {
		background-color: rgb(140, 140, 140);
		.container {
			padding-top: $size-3;
			padding-bottom: $size-3;
		}
	}
}

// -------------------------------------------------------------------------
// Responsive     ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// -------------------------------------------------------------------------

@media (min-width: 759px) {
	.top-content {
		.container {
			p {
				max-width: 800px;
			}
		}
	}
	.content {
		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.content_item {
				width: 48%;
			}
		}
	}
	.footer_top {
		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.footer_top__box {
				width: 48%;
			}
		}
	}
}

@media (min-width: 992px) {
	.top-content {
		.container {
			max-width: 1160px;
		}
	}
	.content {
		.container {
			.content_item {
				width: 30%;
			}
		}
	}
}
